---
import { Card } from '../components/react/card'
import TextGradient from './text-gradient.astro'
---
<section id="blog">
    <Card className="my-4">
        <h2>
            <TextGradient>Blog.</TextGradient>
        </h2>
    </Card>
    <Card>
        <article>
            Writing the article...
        </article>
    </Card>
</section>