---
import TextGradient from "../components/text-gradient.astro"
import { Card } from "../components/react/card"
import { ButtonLink, Button } from "../components/react/button"
import { TextSubline } from "../components/react/text"
import Form from './react/form'
import GithubIcon from "../icons/github.icon.astro"
import LinkedinIcon from "../icons/linkedin.icon.astro"
import MailIcon from "../icons/mail.icon.astro"

const mail = 'damianmaciel0@gmail.com'
---

<section id="contact">
    <Card className="my-4">
        <h2>
            <TextGradient>Contact.</TextGradient>
        </h2>
    </Card>
    <div>
        <p><TextSubline>You can find me in:</TextSubline></p>
        <div class="my-4 flex flex-wrap gap-4">
            <ButtonLink href="https://github.com/FrM-bot" className="gap-2" target="_blank">
                <>
                    Github <GithubIcon />
                </>
            </ButtonLink>
            <ButtonLink href="https://www.linkedin.com/in/franco-maciel" className="gap-2" target="_blank">
                <>
                    Linkedin <LinkedinIcon />
                </>
            </ButtonLink>
            <ButtonLink href={`mailto:${mail}?subject=Your proyect&body=Messaage`} className="gap-2" target="_blank">
                <>
                    damianmaciel0@gmail.com <MailIcon /> 
                </>
            </ButtonLink>
        </div>
    </div>
    <Form client:visible />
</section>
