---
import { TextSubline } from "./react/text";
---

<footer class="after:absolute after:bg-gradient-to-l after:from-[#da62c4] after:to-custom-cyan after:w-full after:h-[4px] after:duration-300 after:top-0 after:left-0 relative after:rounded-md after:shadow-xl mt-4 py-4">
    <div class="flex md-center">
      <p>Built and Design by <TextSubline>Maciel Franco</TextSubline></p>
    </div>
    <div class="flex justify-end">
      <TextSubline>damianmaciel0@gmail.com</TextSubline>
    </div>

</footer>