---
import TextGradient from "../components/text-gradient.astro"
import { Card } from '../components/react/card'
import { ButtonLink } from "../components/react/button"
import Locationicon from "../icons/location.icon.astro";
---
<section class="flex flex-col gap-2">
    <Card>
        <div class="text-xl font-bold">
            <h1>Hi, I'm <TextGradient>Franco Maciel.</TextGradient></h1>
            <TextGradient>Fullstack Wev Developer</TextGradient>
        </div>
    </Card>

    <Card>
      <p>
        Focused on improvement, targeting to create high quality and useful products for users. I like fullstack development to collaborate in most of the development of projects, thinking about improving the user experience.
      </p>
    </Card>
      <Card>
        <div class="flex gap-1 items-center">
          <Locationicon addClass="inline" />
          <p class="align-middle">
            From <TextGradient addClass="font-bold">Argentina</TextGradient>
          </p>
        </div>
      </Card>
    <div class="flex flex-wrap gap-2">
      <ButtonLink href="#techstack">
        Techstack
      </ButtonLink>
      <ButtonLink href="#work">
        Work
      </ButtonLink>
      <ButtonLink href="#contact">
        Contact
      </ButtonLink>
      <ButtonLink href="#blog">
        Blog
      </ButtonLink>
      <ButtonLink href="#" props={{ download: 'Maciel-Franco-CV.pdf' }}>
        <TextGradient addClass="font-bold">Download CV</TextGradient>
      </ButtonLink>
    </div>
  </section>