---
import { ButtonLink } from "@components/react/button"
import Layout from "./Layout.astro"
---

<Layout title='' content='' name=''>
  <div class='my-2'>
    <ButtonLink href='/blog'>Back</ButtonLink>
  </div>
  <slot />
</Layout>
